<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
  </head>
  <body>
    <!--NAVBAR-->
    <section class="navbar">
      <a href="{% url 'home' %}" class="btn" id="{% if request.path == '/'%}active{%endif%}"> Home </a>
      <a href="{% url 'trainer-list' %}" class="btn" id="{% if request.path == '/trainer_list'%}active{%endif%}"> Trainer </a>
      <a href="{% url 'pokemoncard-list' %}" class="btn" id="{% if request.path == '/pokemoncard_list'%}active{%endif%}"> Pokemon Card </a>
      <a href="{% url 'collection-list' %}" class="btn" id="{% if request.path == '/collection_list'%}active{%endif%}"> Collection </a>
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
  </body>
</html>